# Flask Secret Key
SECRET_KEY=supersecretkey

# Database URIs
DATABASE_1_URI=sqlite:///data/sample_db_1.db
DATABASE_2_URI=sqlite:///data/sample_db_2.db

# Langflow API URL
LANGFLOW_API_URL=http://localhost:7860

# Kakao API Key
KAKAO_API_KEY=your_kakao_api_key

# Log File Path
LOG_FILE=logs/app.log
